body 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
}

.navbar 
{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 1000; 
}

.nav 
{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo 
{
    height: 60px;
}

.nav-items 
{
    display: flex;
    align-items: center;
}

.nav-items ul 
{
    display: flex;
    margin-right: 20px;
}

.nav-items ul li 
{
    list-style: none;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-items ul li.home a 
{
    text-decoration: none;
}

.nav-items ul li:hover 
{
    color: #0073e6;
}

.nav-items a img 
{
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.admin {
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 1200px;
    height: 100vh;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.table thead th {
    background-color: #00d3f8;
    color: #ffffff;
    padding: 1rem;
    background-color: #00d3f8;
}

.table tbody td {
    background-color: #00d3f8;
    color: #ffffff;
    padding: 1rem;
    border-bottom: 2px solid #0056b3;
}

.mr-3 {
    margin-right: 1rem;
    color: #333;
    font-weight: 600;
}

.input-group {
    display: flex;
    width: 100%;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.add-button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
}

.add-button-container button {
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

#add-btn {
    background-color: #28a745;
}

#add-btn:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#save-btn {
    background-color: #ff00b7;
}

#save-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#reset-btn {
    background-color: #dc3545;
}

#reset-btn:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.edit-btn {
    background-color: #ffc107;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.edit-btn:hover {
    background-color: #e0a800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.remove-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.remove-btn:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

footer {
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    position: relative;
}
